body {
    background-color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 60px;
}

h1 {
    text-align: center;   
}

h2 {
    text-align: center;
    font-size: 28px;
}


p {
    text-align: center;
    font-size: 25px;
}

li {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}



.cuijk-afbeelding-hoofdpagina,.fotoKerkCuijk,.lunch-afbeelding,.ICT-Afbeelding,.Fitklub-afbeelding { /* Zorgt er voor dat alle afbeeldingen de zelfde stijl krijgen */
    border-radius: 5px;
    outline-style: groove;
}


nav {
    display: flex;
    background-color: rgb(189, 170, 134);
    border-radius: 15px;
    justify-content: center;
    outline-style: groove;
    outline-color: rgb(181, 163, 130);
    box-shadow: 4px 4px 7px black;
    
}

nav a {
    display: flex;
    padding: 20px 30px;
    background-color: #94805d;
    border-radius: 15px;
    margin: 50px;
}

nav a:hover { /* maakt de knop in de nav groter als je er met je muis over heen gaat */
    transform: scale(1.4);
}

footer {
    background-color: rgb(189, 170, 134);
    text-align: center;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: wheat;
    box-shadow: 4px 4px 7px black;
    outline-style: groove;
    outline-color: rgb(181, 163, 130);
    padding-left: -15px;
    padding-right: -15px;
    font-size: medium;
}

body.dark-mode { /* Stelt de kleuren voor dark mode in */
  background-color: #222;
  color: wheat;
}

.Dark-Mode-Knop { /* De eigenschappen van de knop */
  background-color: wheat;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .Dark-Mode-Knop { /* zorgt dat de knop ook van kleur veranderd */
  background-color: #333;
  color: wheat;
  border-color: wheat;
}





    


   
